* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: white;
}

body {
  max-width: 500px;
  height: 100vh;
  margin: 0 auto;
  background-image: linear-gradient(
    120deg,
    #2b28d1,
    #9097ff,
    #5779ff,
    #00ddff,
    #997aff,
    #ca61c1,
    #bb0048
  );
  background-size: 500%;
  animation: animacion 40s infinite;
}

.container {
  background: rgba(0, 0, 0, 0.4);
  margin-top: 80px;
}

button {
  margin: 5px;
  cursor: pointer;
  border: none;
  background: none;
}

h1 {
  font-size: 35px;
  text-align: center;
  padding: 20px;
}

#result {
  text-align: center;
}

#result img {
  width: 30%;
}

#startText {
  font-size: 36px;
  padding: 20px;
}

#groupButton {
  display: flex;
  width: 100%;
}

#groupButton > button > img {
  width: 100%;
}

footer {
  text-align: center;
  padding: 10px;
}

footer a {
  text-decoration: none;
}

@keyframes animacion {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
