* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: white;
}

body {
  height: 100vh;
  background-image: linear-gradient(
    120deg,
    #942d22,
    #7c4891,
    #236692,
    #13866f,
    #9c7f0a,
    #963c01
  );
  background-size: 400%;
  animation: animacion 30s infinite;
}

header {
  background: rgba(0, 0, 0, 0.2);
  width: 500px;
  height: 55px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
}

h1 {
  padding: 6px;
  font-size: 35px;
  text-align: center;
}

.container {
  margin: 0 auto;
  max-width: 500px;
  height: 560px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}

button {
  margin: 5px;
  margin-bottom: 20px;
  cursor: pointer;
  border: none;
  background: none;
}

#result {
  text-align: center;
}

#result img {
  width: 25%;
  margin-top: 20px;
  margin-bottom: 20px;
}

#startText {
  font-size: 30px;
}

#groupButton {
  display: flex;
  width: 100%;
}

#groupButton > button > img {
  width: 100%;
}

footer {
  background: rgba(0, 0, 0, 0.2);
  width: 500px;
  height: 55px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
}

#imageContainer {
  display: flex;
  justify-content: space-evenly;
}

.socialMedia {
  width: 35px;
  margin-top: 10px;
}

@keyframes animacion {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
